<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">
        
		<dubbo:reference id="UserService" interface="top.softzztiedu.service.UserService" check="false" timeout="10000"/>
		
		<dubbo:reference id="BusinessService" interface="top.softzztiedu.service.BusinessService" check="false" timeout="10000"/>
		
		<dubbo:reference id="CommodityService" interface="top.softzztiedu.service.CommodityService" check="false" timeout="10000"/>
		
		<dubbo:reference id="StockService" interface="top.softzztiedu.service.StockService" check="false" timeout="10000"/>
		
</beans>